/*     Body      */

body {
    width: 100%;
    margin: 0 auto;
    background-color: #222222;
    font-size: 62.5%;
    min-width: 320px;
    max-width: 100%;
    overflow-x: hidden;
    transition: 0.5s ease;
}

/*     Flex     */

.flex-container {
    display: flex;
}

.flex-item {
    height: auto;
    min-height: 1px;
}

/*     Logo + Animation     */

#logo {
    padding: 0 50px 0 0;
}

#logo path {
    stroke: #ffffff;
}

#logo-anim {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
    stroke-width: 13px;
    stroke-dasharray: 267px;
    stroke-dashoffset: 267px;
    -webkit-animation: dash 3s cubic-bezier(0.5, 0, 0, 1) forwards;
    animation: dash 3s cubic-bezier(0.5, 0, 0, 1) forwards;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

@keyframes dash {
    from {
        stroke-dashoffset: 267px;
        -webkit-stroke-dashoffset: 267px;
    }
    to {
        stroke-dashoffset: 0px;
        -webkit-stroke-dashoffset: 0px;
    }
}

/*     Navigation     */

#nav-container {
    height: 200px;
    margin-bottom: -100px;
    z-index: 2;
}

#nav {
    margin: 0 auto;
    width: 75%;
    height: 100px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#nav-left {
    height: 100px;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

#nav-right {
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

#nav-right a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
    opacity: 0.5;
    padding: 2px;
}

#nav-right a:hover {
    opacity: 0.99;
    transition: 0.5s ease;
}

#nav-right .jam {
    font-size: 26px;
}

/*   Footer   */

#footer {
    width: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 100px auto 50px auto;
    text-align: center;
}

#social-icons {
    width: 30%;
    height: 50px;
    margin: 100px auto 10px auto;
    text-align: center;
    justify-content: space-around;
    display: none;
}

#social-icons a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
    opacity: 0.5;
    padding: 2px;
}

#social-icons a:hover {
    opacity: 0.99;
    transition: 0.5s ease;
}

#social-icons .jam {
    font-size: 26px;
}

/*     Heroes     */

.hero {
    width: 100vw;
    margin: 0 auto 150px auto;
}

#hero-text {
    width: 50%;
    margin: 150px 30% auto 20%;
    opacity: 0.99;
}

#hero-text h5, h6, p {
    margin-bottom: 50px;
}

/*     Home Page     */

#projects {
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

#projects a {
    width: 48%;
    height: 24%;
    margin: 30px 1%;
    text-decoration: none;
    transition: 0.5s ease;
}

.project {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(0, 0);
    box-shadow: 0 5px 20px #181818;
    transition: 0.5s ease;
}

#projects a:hover .project {
    transform: translate(0, -10px);
    box-shadow: 0 15px 30px #181818;
    transition: 0.5s ease;
}

#projects a:active .project {
    transform: translate(0, 10px);
    transition: 0.5s ease;
}

#interstellar-identity {
    background-image: url(projects/assets/thumbnails/interstellar-identity.png);
}

#produse {
    background-image: url(projects/assets/thumbnails/produse.png);
}

#spotify-redesign {
    background-image: url(projects/assets/thumbnails/spotify-redesign.png);
}

#call-of-the-wild {
    background-image: url(projects/assets/thumbnails/call-of-the-wild.png);
}

#iconography {
    background-image: url(projects/assets/thumbnails/iconography.png);
}

#usa-graphic-design {
    background-image: url(projects/assets/thumbnails/usa-graphic-design.png);
}

#running-wgtn {
    background-image: url(projects/assets/thumbnails/running-wgtn.png);
}

#chico-state-alumni {
    background-image: url(projects/assets/thumbnails/chico-state-alumni.png);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    #interstellar-identity {
        background-image: url(projects/assets/thumbnails/interstellar-identity@2x.png);
    }
    #produse {
        background-image: url(projects/assets/thumbnails/produse@2x.png);
    }
    #spotify-redesign {
        background-image: url(projects/assets/thumbnails/spotify-redesign@2x.png);
    }
    #call-of-the-wild {
        background-image: url(projects/assets/thumbnails/call-of-the-wild@2x.png);
    }
    #iconography {
        background-image: url(projects/assets/thumbnails/iconography@2x.png);
    }
    #usa-graphic-design {
        background-image: url(projects/assets/thumbnails/usa-graphic-design@2x.png);
    }
    #running-wgtn {
        background-image: url(projects/assets/thumbnails/running-wgtn@2x.png);
    }
    #chico-state-alumni {
        background-image: url(projects/assets/thumbnails/chico-state-alumni@2x.png);
    }
}

/*     Projects     */

.project-page {
    flex-direction: column;
}

.project-hero {
    width: 100vw;
    height: calc(49.5vw - 100px);
    margin: 0px auto 150px auto;
    padding-top: 100px;
    transform: translate(0, -100px);
    background-repeat: no-repeat;
    background-size: 100%;
    background-clip: padding-box;
    overflow: hidden;
}

#interstellar-identity-hero {
    background-image: url(projects/assets/hero-images/interstellar-identity.png);
}

#produse-hero {
    background-image: url(projects/assets/hero-images/produse.png);
}

#spotify-redesign-hero {
    background-image: url(projects/assets/hero-images/spotify-redesign.png);
}

#call-of-the-wild-hero {
    background-image: url(projects/assets/hero-images/call-of-the-wild.png);
}

#running-wgtn-hero {
    background-image: url(projects/assets/hero-images/running-wgtn.png);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    #interstellar-identity-hero {
        background-image: url(projects/assets/hero-images/interstellar-identity@2x.png);
    }
    #produse-hero {
        background-image: url(projects/assets/hero-images/produse@2x.png);
    }
    #call-of-the-wild-hero {
        background-image: url(projects/assets/hero-images/call-of-the-wild@2x.png);
    }
    #spotify-redesign-hero {
        background-image: url(projects/assets/hero-images/spotify-redesign@2x.png);
    }
    #running-wgtn-hero {
        background-image: url(projects/assets/hero-images/running-wgtn@2x.png);
    }
}

.project-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    flex-wrap: nowrap;
    justify-content: center;
}

.project-content a {
    text-decoration: underline;
    color: #ffffff;
}

.project-content a:visited {
    text-decoration: underline;
    color: #ffffff;
}

.embedded-project {
    width: 100%;
    height: 100%;
}

.content-1 {
    flex-direction: column;
}

.content-2 {
    flex-direction: row;
    flex-wrap: wrap;
}

.content-3 {
    flex-direction: column;
    width: 33%;
    text-align: center;
    align-self: center;
}

.content-4 {
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin: 25px 0;
}

.content-5 {
    flex-direction: column;
    width: 30%;
    text-align: center;
}

.centre-image-full {
    width: 95%;
    margin: auto;
}

.centre-image-large {
    width: 70%;
    margin: auto;
}

.centre-image-medium {
    width: 50%;
    margin: auto;
}

.centre-image-small {
    width: 35%;
    margin: auto;
}

.small-image {
    width: 30%;
    height: 30%;
    margin: auto;
}

.small-image-2 {
    width: 50%;
    height: 50%;
    margin: 20px auto;
}

.centre-text {
    width: 40%;
    margin: 25px auto;
    text-align: center;
}

.small-text {
    width: 90%;
    margin: 30px auto;
}

.process-image, .process-text {
    width: 45%;
    margin: 0 1%;
}

.inverted-content {
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
}

.back-to-top {
    height: auto;
    display: block;
    margin: 100px auto 0 auto;
    cursor: pointer;
    text-align: center;
}

.back-to-top span {
    font-size: 2em;
}

.back-to-top a {
    text-decoration: none !important;
}

.back-to-top a:hover {
    text-decoration: none !important;
}

/*     Type     */

@font-face {
    font-family: "HKGrotesk-Regular";
    src: url("assets/type/HKGrotesk-Regular.eot");
    src: url("assets/type/HKGrotesk-Regular.woff"), url("assets/type/HKGrotesk-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HKGrotesk-Bold";
    src: url("assets/type/HKGrotesk-Bold.eot");
    src: url("assets/type/HKGrotesk-Bold.woff"), url("assets/type/HKGrotesk-Bold.woff2");
    font-weight: bold;
    font-style: normal;
}

h1 {
    font-family: "HKGrotesk-Bold", sans-serif;
    font-size: 6em;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
}

h1 a {
    opacity: 0.5;
    transition: 0.5s ease;
}

a:hover {
    opacity: 0.99;
    transition: 0.5s ease;
}

h2 {
    font-family: "Varela Round", sans-serif;
    font-size: 1.4em;
    color: #ffffff;
    padding: 0 50px;
}

h2 a {
    opacity: 0.5;
    transition: 0.5s ease;
}

h2 a:hover {
    opacity: 0.99;
    transition: 0.5s ease;
}

h3 {
    font-family: "HKGrotesk-Bold", sans-serif;
    font-size: 3em;
    font-weight: 700;
    color: #ffffff;
    margin: 20px auto 0 20px;
    opacity: 0.99;
}

h4 {
    font-family: "Varela Round", sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.6em;
    margin-top: 5px;
    color: #ffffff;
    opacity: 0.5;
    margin: 5px auto 0 20px;
}

h5 {
    font-family: "HKGrotesk-Bold", sans-serif;
    font-size: 3.5em;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
    line-height: 1.4em;
}

h5 a {
    opacity: 0.5;
    transition: 0.5s ease;
    white-space: nowrap;
}

h5 a:hover {
    opacity: 0.99;
    transition: 0.5s ease;
}

h5 .jam {
    font-size: 0.9em;
}

h6 {
    font-family: "HKGrotesk-Bold", sans-serif;
    font-size: 2em;
    color: #ffffff;
    line-height: 1.4em;
}

p {
    font-family: "Varela Round", sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.8em;
}

p a {
    opacity: 0.5;
    transition: 0.5s ease;
}

p a:hover {
    text-decoration: underline;
    opacity: 0.99;
    transition: 0.5s ease;
}

p2 {
    font-family: "Varela Round", sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.6em;
    opacity: 0.5;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

i {
    font-style: italic;
}

::-moz-selection {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
}

::selection {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
}

/*     Responsive     */

@media screen and (max-width: 1400px) {
    /*   Home Page   */
    #projects {
        width: 85%;
    }
    /*   Heroes   */
    #hero-text {
        width: 60%;
        margin: 100px 25% auto 15%;
    }
    /*   Project Content   */
    .centre-image-medium {
        width: 55%;
    }
    .centre-image-small {
        width: 40%;
    }
    .centre-text {
        width: 50%;
    }
}

@media screen and (max-width: 1200px) {
    /*   Navigation   */
    #nav {
        width: 85%;
    }
    /*   Heroes   */
    h1 {
        font-size: 5em;
    }
    h5 {
        font-size: 3em;
    }
    h6 {
        font-size: 1.8em;
    }
    .hero, .project-hero {
        margin-bottom: 75px;
    }
    #hero-text {
        width: 60%;
        margin: 75px 25% auto 15%;
    }
    /*   Project Content   */
    .centre-image-large {
        width: 75%;
    }
    .centre-image-medium {
        width: 60%;
    }
    .centre-image-small {
        width: 45%;
    }
    .centre-text {
        width: 60%;
    }
}

@media screen and (max-width: 1000px) {
    /*   Navigation   */
    #nav-container {
        height: 150px;
        margin-bottom: -50px;
    }
    #nav-right {
        display: none;
    }
    #logo, h2 {
        padding: 0 30px;
    }
    /*   Footer   */
    #footer {
        margin-top: 0;
    }
    #social-icons {
        display: flex;
    }
    /*   Heroes   */
    .hero {
        margin-bottom: 40px;
    }
    .project-hero {
        height: 500px;
        background-size: 1000px;
        margin-left: calc(-500px + 50vw);
        padding-left: calc(500px - 50vw);
        margin-bottom: 40px;
    }
    #hero-text {
        margin: 40px 25% auto 15%;
    }
    /*   Home Page   */
    #projects {
        width: 75%;
    }
    #projects a {
        width: 100%;
        height: 50%;
    }
    /*   Project Content   */
    .centre-image-large {
        width: 80%;
    }
    .centre-image-medium {
        width: 70%;
    }
    .centre-image-small {
        width: 50%;
    }
    .centre-text {
        width: 70%;
    }
    .content-3 {
        width: 50%;
    }
    .process-image {
        width: 60%;
        margin: 5% auto 0 auto;
    }
    .process-text {
        width: 70%;
        margin: 10px auto 5% auto;
        text-align: center;
    }
}

@media screen and (max-width: 760px) {
    /*   Navigation   */
    #nav-container {
        height: 120px;
        margin-bottom: -30px;
    }
    #logo, h2 {
        padding: 0 20px;
    }
    /*   Heroes   */
    .hero, .project-hero {
        margin-bottom: 0;
    }
    #hero-text {
        width: 80%;
        margin: 0 auto;
    }
    h5 {
        font-size: 2.5em;
    }
    h6 {
        font-size: 1.6em;
        margin-bottom: 30px;
    }
    /*   Home Page   */
    #projects {
        width: 85%;
    }
    /*   Project Content   */
    .centre-image-large {
        width: 85%;
    }
    .centre-image-medium {
        width: 80%;
    }
    .centre-text {
        width: 80%;
    }
    .content-3 {
        width: 75%;
    }
    .process-image {
        width: 70%;
        margin: 5% auto 0 auto;
    }
    .process-text {
        width: 80%;
        margin: 10px auto 5% auto;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    /*   Navigation   */
    h2:nth-of-type(3) {
        display: none;
    }
    /*   Footer   */
    #footer {
        width: 95%;
    }
    /*   Heroes   */
    h1 {
        font-size: 4em;
    }
    h5 {
        line-height: 1.5em;
    }
    /*   Home Page   */
    #hero-text {
        width: 90%;
        margin: 0 auto;
    }
    /*   Project Content   */
    .centre-image-large {
        width: 95%;
    }
    .centre-image-medium {
        width: 90%;
    }
    .centre-image-small {
        width: 80%;
    }
    .centre-text {
        width: 90%;
    }
    .small-image {
        width: 40%;
    }
    .process-image {
        width: 80%;
        margin: 5% auto 0 auto;
    }
    .process-text {
        width: 90%;
        margin: 10px auto 5% auto;
        text-align: center;
    }
    .back-to-top {
        width: 30%;
    }
}

/*     Hide Desktop Projects on Mobile & Small Screens     */

@media screen and (max-width: 1100px) {
    #usa-graphic-design-link {
        display: none;
    }
}

@media screen and (max-width: 760px) {
    #chico-state-alumni-link {
        display: none;
    }
}

@media screen and (hover: none) {
    #chico-state-alumni-link, #usa-graphic-design-link {
        display: none;
    }
}

/*   IE and EDGE Fixes   */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #logo-anim {
        stroke-dashoffset: 0px;
    }
    @keyframes dash {
        from {
            stroke-dashoffset: 0px;
        }
        to {
            stroke-dashoffset: 0px;
        }
    }
}

@supports (-ms-ime-align: auto) {
    #logo-anim {
        stroke-dashoffset: 0px;
    }
    @keyframes dash {
        from {
            stroke-dashoffset: 0px;
        }
        to {
            stroke-dashoffset: 0px;
        }
    }
}

img {
    -ms-interpolation-mode: bicubic;
}
